@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom Classes
.flex-center{
	@apply flex items-center justify-center;
}

.flex-x-center{
	@apply flex justify-center;
}

.flex-y-center{
	@apply flex items-center;
}

// Swiper Slider
.swiper-pagination-bullet{
	@apply bg-white opacity-100;
}

.swiper-pagination-bullet-active{
	@apply bg-secondBlue;
}

.slider-pagination .swiper-pagination-bullet{
	@apply w-3 h-3 bg-gray-300 opacity-100 transition-colors hover:bg-gray-400;
}

.slider-pagination .swiper-pagination-bullet-active{
	@apply bg-accent;
}

.swiper-button-next, .swiper-button-prev{
	@apply w-10 h-10  sm:w-16 sm:h-16 bg-black bg-opacity-40 text-white duration-300 hover:bg-opacity-50;
	&:after{
		@apply text-base sm:text-xl font-bold;
	}
}

.swiper-button-prev{
	@apply left-0;
}

.swiper-button-next{
	@apply right-0;
}

.swiper-lazy-preloader{
	@apply border-accent border-t-transparent;
}

.no-scroll{
	@apply overflow-y-hidden;
}

strong{
	@apply font-semibold;
}

.section{
	@apply py-10 md:py-20;
	h2{
		font-size: calc($index * 2.1);
		text-align: center;
		font-weight: 600;
	}
	.descr-section{
		font-weight: normal;
		text-align: center;
		font-size: calc($index * 1);
	}
	&.contacts{
		@apply pb-0;
	}
}

[x-cloak] { display: none !important; }

.fake-checkbox input:checked~span::after {
	opacity: 1;
}

// 	